body {
  width: 901px;
  margin: auto;
}

.logoDiv {
  /* float: left; */
  outline: 1px solid black;
  display: inline-block;
}

#forkLogo {
  display: inline-block;
}

.logoCopy {
  display: inline-block;
}

.socialLogos {
  float: right;
  padding-top: 10px;
  outline: 1px solid black;
}

.bgLines {
  /* come back to this  */
  background-image: url(../images/hr-img.png);
  background-color: white;
  height: 15px;
  width: 100%;
  /* margin-bottom: 55px; */
  margin-top: 25px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 55px;
}

.datePrint {
  outline: 1px solid red;
  display: inline-block;
  width: 100%;
  color: slategray;
  margin-bottom: 25px;
}

.datePrint > p {
  outline: 1px solid blue;
  width: 350px;
  display: inline-block;
}

.print {
  outline: 1px solid black;
  float: right;
  width: 65px;
}

.print > p {
  float: right;
}

.printImg {
  display: inline-block;
}

.pCopy > p {
font-size: large;
margin-bottom: 10px;
text-indent: 2em;
color: rgb(66, 75, 85);
}

.ingredientsList {
  text-align: center;
  height: 200px;
  background-image: url(../images/list-bg.png);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  box-shadow: 0px 2px lightgrey, 0px 4px lightyellow, 0px 6px lightgrey, 0px 8px lightyellow;
}

.groupLeft {
  outline: 1px solid pink;
  display: inline-block;
  width: 45%;
  text-align: left;
  margin-top: 35px;
}

.groupRight {
  outline: 1px solid green;
  display: inline-block;
  width: 45%;
  text-align: left;
  margin-top: 35px;

}
/* 
.byLine {
  margin-top: 10px;
  display: inline-block;
  outline: 1px solid purple;
  height: 150px;
}


#vanPic {
  display: inline;
}


#vanPic {
  outline: 1px dashed blue;
  float: left;
  margin-right: 10px;
  display: inline-block;
}

h2.footerCopy {
  font-size: 20px;
  margin: 10px 0 10px 0;
  display: inline-block;
  outline: 1px solid yellowgreen;
}

p.footerCopy {
  display: inline-block;
  outline: 1px solid red;
}

button {
  height: 50px;
  width: 140px;
  background-color: rgb(161, 54, 4);
  color: white;
  float: left;
  font-size: large;
  margin: 5px 20px 0px 0px;
  vertical-align: top;
  display: inline-block;
}

#divFoot {
  outline: 1px solid fuchsia;
  width: 70%;
} */

#vanPic {
  display: inline-block;
  margin-right: 10px;
}

footer > div.bgLines {
  margin-bottom: 10px;
}

footer {
  outline: 2px dashed palegreen;
  /* height: 60px; */
}

#divFoot {
  display: inline-block;
  vertical-align: top;
}

button {
  display: inline-block;
  vertical-align: top;
    margin: 10px 0 0 10px;
    height: 40px;
    width: 130px;
    background-color: #ad2c0f;
    color: white;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

p.footerCopy {
  width: 80%;
  line-height: 1.3;
}